# Lab work 2 and 3

In [22]:
n, m, k = [int(i) for i in input().split()]
a = [[1 for j in range(m)] for i in range(n)]

7 8 2

In [23]:
a

[[1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1]]

In [10]:
m = a[0]
for x in a:
    if m > x:
        m = x
print(m)

2

In [25]:
a = [int(i) for i in input().split()]
m = a[0]
for x in (m + a):
    if x == 0:
        print(sum)
    elif m + x == 0:
        print(sqrt(sum(x)))

5 -2 -3 4

TypeError: can only concatenate list (not "int") to list

In [26]:
x = True
y = False
z = False
if not x or y:
    print(1)
elif not x or not y and z:
    print(2)
elif not x or y or not y and x:
    print(3)
else:
    print(4)

3

In [27]:
x = 4.5
y = 2
print(x // y)

2.0

In [29]:
a = 35
b = 18
if a // 9 == 0 or b % 9 == 0:
    print('число', a, 'выиграло')
else:
    print('число', b, 'выиграло')

число 35 выиграло

In [30]:
for i in range(10, 0, -2):
    print(i , end = ', ')

10, 8, 6, 4, 2,

In [31]:
a =int(input())
b = []

5

In [32]:
a

5

In [4]:
txt = "welcome"

x = txt.split()

print(x)

['welcome']

In [5]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [6]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

In [8]:
a = int(input())
b = int(input())

c = 2 * b
d = a * 75 / 100 #2 class seat 
e = c * (a - d) +  b * d
if c > d:
      print(e)
else:
    print("Error")

4
5
25.0

In [9]:
b = "Hello, World!"
print(b[2:5])

llo

In [11]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [12]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [13]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [16]:
for i in range(1,10,2): 
  print(i); 
1,3,5,7,9

1
3
5
7
9

(1, 3, 5, 7, 9)

# Lab work 4

In [19]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [21]:
txt = "Hello, welcome to my world."

x = txt.find("e", 10, 16)

print(x)

13

In [23]:
txt = "Hello, welcome to my world."

print(txt.find("q"))

-1

In [24]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [27]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [37]:
import random

print(random.randrange(3, 8))

7

In [36]:
import random

print(random.randint(3, 9))

9

In [42]:
a=int(input())
m=[]
for i in range(a):
    j=0
    while j<i+1:
        m.append(i+1)
        j+=1
        if len(m)>a: break
        m=m[0:a]
    for i in m:
        print(i, end=" ")

7
1 1 2 2 1 2 2 3 3 3 1 2 2 3 3 3 4 4 1 2 2 3 3 3 4 4 5 1 2 2 3 3 3 4 4 5 6 1 2 2 3 3 3 4 4 5 6 7

In [47]:
txt = "python is FUN!"

x = txt.capitalize()

print (x)

Python is fun!

In [48]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [51]:
txt = "banana"

x = txt.center(30)

print(x)

            banana

In [52]:
txt = "banana"

x = txt.center(20, "O")

print(x)

OOOOOOObananaOOOOOOO

In [53]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

In [64]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

# 1 task Lab4

In [76]:
a = str(input())
upper = 0
lower = 0
for i in a:
    if i.isupper():
        upper += 1
    else:
        lower += 1
if upper > lower:
    print(a.upper())
else:
    print(a.lower())

Yerassyl
yerassyl

# 2 task 4Lab

In [70]:
a, b = input(), input()
while not(a.isdigit() and b.isdigit()):
    a, b = input(), input()
print(int(a) + int(b))

yt56
456
5r
4
4
122398
122402

# Lab work 5

In [57]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
print(a)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [56]:
fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()
print(fruits)

[]

In [58]:
fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()
print(x)

['apple', 'banana', 'cherry', 'orange']

In [60]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.count("cherry")
print(x)

1

In [63]:
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [65]:
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [66]:
txt = "Hello Sam!"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [67]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [68]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [77]:
from random import shuffle
 
arr = [*range(1, 50)]
shuffle(arr)
print(sorted(arr[:6]))

[3, 9, 26, 29, 32, 49]