In [2]:
def binary_search(list,item):
    low = 0
    high = len(list) - 1
    while low <= high:
        mid = (low + high)
        guess = list[mid]
        if guess == item:
            return mid
        if guess > item:
            high = mid - 1
        else:
            low = mid + 1
    return None
my_list = [1, 3, 5, 7, 8]
print(binary_search(my_list,3))

1

In [7]:
resume = []
name = ['Yerassyl','Zhanibek']
address = ['Almaty', 'Alatau']
phone = ['8705432904']
job_search = ['Data Analyst']
salary = ['300 000']
resume.append(name)
print(resume)

[['Yerassyl', 'Zhanibek']]

In [19]:
import random
random.randint(1,49)

36

In [21]:
d = {a: a ** 2 for a in range(6)}
print(d)
#del(d)
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# Lab 6-7

In [ ]:
set_a = {"School","College","University","Lyceum"}
for i in set_a:
    print(i)
set_a.remove("School")
#set_a.discard("KPL")
set_a.add("PostGraduate")
set_a.pop()
print("\n")
for i in set_a:
    print(i)
set_a.clear()
print("\n")
for i in set_a:
    print(i)

In [ ]:
car = {
  "Company": "Mercedes",
  "model": "CLS",
  "year": 2018
}
car["year"] = 2020
#del car["year"]
#car.pop("year")
car["litre"] = 3
#car.popitem()
print(car)

In [ ]:
Resume = [("Name: ","Yerassyl"),("Last_name: ","Zhanibek"),("Age: ",21)]
for i in Resume:
    print(i)
print(len(Resume))
print("\n")
Resume.insert(4,("Number: ","87023458756"))
for i in Resume:
    print(i)
Resume.sort()
del(Resume[1])
print("\n")
for i in Resume:
    print(i)

In [ ]:
col = car.setdefault("color", "Black")
print(col)
print(car.keys())
print("\n")

In [1]:
name = ('Aigerim', 'Yerassyl', 'Aldiyar')
age = 21
stud = dict.fromkeys(name, age)
print(stud)
print("\n")

{'Aigerim': 21, 'Yerassyl': 21, 'Aldiyar': 21}

In [ ]:
d = {a: a ** 2 for a in range(6)}
print(d)
del(d)
print(d)

In [ ]:
diction = {1: 2, 2: 4, 3: 9}
diction[5]=11
print(diction)
print(diction[1])
diction.clear()
print(diction)
print("\n")