In [4]:
import math

a = [[1,2,3],[4,5,6],[7,8,9]]

a[0][2]

3

In [22]:
n, m, k = [int(i) for i in input().split()]
a = [[1 for j in range(m)] for i in range(n)]

7 8 2

In [23]:
a

[[1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1]]

In [10]:
m = a[0]
for x in a:
    if m > x:
        m = x
print(m)

2

In [25]:
a = [int(i) for i in input().split()]
m = a[0]
for x in (m + a):
    if x == 0:
        print(sum)
    elif m + x == 0:
        print(sqrt(sum(x)))

5 -2 -3 4

TypeError: can only concatenate list (not "int") to list

In [26]:
x = True
y = False
z = False
if not x or y:
    print(1)
elif not x or not y and z:
    print(2)
elif not x or y or not y and x:
    print(3)
else:
    print(4)

3

In [27]:
x = 4.5
y = 2
print(x // y)

2.0

In [29]:
a = 35
b = 18
if a // 9 == 0 or b % 9 == 0:
    print('число', a, 'выиграло')
else:
    print('число', b, 'выиграло')

число 35 выиграло

In [30]:
for i in range(10, 0, -2):
    print(i , end = ', ')

10, 8, 6, 4, 2,

In [31]:
a =int(input())
b = []

5

In [32]:
a

5

In [4]:
txt = "welcome"

x = txt.split()

print(x)

['welcome']

In [5]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [6]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

In [8]:
a = int(input())
b = int(input())

c = 2 * b
d = a * 75 / 100 #2 class seat 
e = c * (a - d) +  b * d
if c > d:
      print(e)
else:
    print("Error")

4
5
25.0

In [9]:
b = "Hello, World!"
print(b[2:5])

llo

In [11]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [12]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [13]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [15]:
mylist = [1,2,3]
for item in mylist:
    print item

mydict  = {1:'one', 2:'two', 3:'three'}
for key in mydict:
    print(key, mydict[key])

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(item)? (3893137897.py, line 3)

In [ ]:
for i in range(1,10,2): 
  print(i); 
1,3,5,7,9